In [10]:
import psycopg2
from faker import Faker
import faker_commerce
import datetime
import random

# Create Tables if not exists

In [6]:
commands = (
    """ CREATE TABLE IF NOT EXISTS JOB (
                Job_ID VARCHAR(20) PRIMARY KEY,
                Job_Title VARCHAR(255),
                Salary VARCHAR(15)
                )
        """,
        """
        CREATE TABLE IF NOT EXISTS EMPLOYEE (
            Employee_ID VARCHAR(20) PRIMARY KEY,
            First_Name VARCHAR(255) ,
            Last_Name VARCHAR(255) ,
            Phone_NO VARCHAR(15),
            Address VARCHAR(255),
            Job_ID VARCHAR(20) NOT NULL,
            FOREIGN KEY(Job_ID) 
                 REFERENCES JOB(Job_ID)

        )
        """,
    """
    CREATE SEQUENCE IF NOT EXISTS employee_id_seq
START 1
INCREMENT 1
OWNED BY EMPLOYEE.Employee_id

    """,
    """
    CREATE SEQUENCE IF NOT EXISTS job_id_seq
START 1
INCREMENT 1
OWNED BY EMPLOYEE.Job_ID
    """,
    """
    CREATE TABLE IF NOT EXISTS EMPLOGIN(
        User_name VARCHAR(255) NOT NULL,
        Password VARCHAR(255) NOT NULL,
        Employee_ID VARCHAR(255) NOT NULL,
        FOREIGN KEY(Employee_ID)
            REFERENCES EMPLOYEE (Employee_ID))
    """,
        
        """
        CREATE TABLE IF NOT EXISTS CUSTOMER (
                Customer_ID VARCHAR(20) PRIMARY KEY,
                First_Name VARCHAR(255) NOT NULL,
                Last_Name VARCHAR(255) NOT NULL,
                Phone_NO VARCHAR(15) NOT NULL,
                Address VARCHAR(255)
        )
        """,
    """
    CREATE SEQUENCE IF NOT EXISTS customer_id_seq
START 1
INCREMENT 1
OWNED BY CUSTOMER.Customer_ID
    """,
    """
CREATE TABLE IF NOT EXISTS SUPPLIER (
            Supplier_ID VARCHAR(20) PRIMARY KEY,
            Company_Name VARCHAR(255) NOT NULL,
            Address VARCHAR(255) NOT NULL,
            Phone_NO VARCHAR(15) NOT NULL,
            )
""",
    """
    CREATE SEQUENCE IF NOT EXISTS Suplier_id_seq
START 1
INCREMENT 1
OWNED BY SUPPLIER.Supplier_ID
    """,
    """
CREATE TABLE IF NOT EXISTS PRODUCT (
    Product_ID VARCHAR(20) PRIMARY KEY,
    Product_Name VARCHAR(255) NOT NULL,
    Description VARCHAR(255) NOT NULL,
    Stock INTEGER NOT NULL,
    Price INTEGER NOT NULL,
    Category VARCHAR(20) NOT NULL,
    Supplier_ID VARCHAR(255) NOT NULL,
    FOREIGN KEY (Supplier_ID)
        REFERENCES SUPPLIER (Supplier_ID))

""",
     """
    CREATE SEQUENCE IF NOT EXISTS product_id_seq
START 1
INCREMENT 1
OWNED BY PRODUCT.Product_ID
    """,
        """
        CREATE TABLE IF NOT EXISTS SALES (
                Sales_ID VARCHAR(20) PRIMARY KEY,
                Quantity INTEGER NOT NULL,
                Total_Amount INTEGER NOT NULL,
                Amount_Taken INTEGER NOT NULL,
                Employee_ID VARCHAR(255) NOT NULL,
                Product_ID VARCHAR(255) NOT NULL,
                Change VARCHAR(255) NOT NULL,
                Date VARCHAR(255) NOT NULL,
                FOREIGN KEY (Employee_ID)
                    REFERENCES EMPLOYEE (Employee_ID),
                FOREIGN KEY (Product_ID)
                    REFERENCES PRODUCT (Product_ID)
        )
        """,

   

"""
CREATE TABLE IF NOT EXISTS DISCOUNT (
            Promotion_ID VARCHAR(20) PRIMARY KEY,
            Start_date VARCHAR(255) NOT NULL,
            End_date VARCHAR(255) NOT NULL,
            Product_ID VARCHAR(255) NOT NULL,
            FOREIGN KEY (Product_ID)
                REFERENCES PRODUCT (Product_ID))
            
""",
"""
    CREATE SEQUENCE IF NOT EXISTS discount_id_seq
START 1
INCREMENT 1
OWNED BY DISCOUNT.Promotion_ID
    """
)

In [7]:
conn = None
try:
    # connect to the PostgreSQL server
    print('Connecting to the PostgreSQL database...')
    conn = psycopg2.connect(
            host="43.204.150.58",
            database="testdb",
            user="admin",
            password="admin")
	# create a cursor
    cur = conn.cursor()
        
	# execute a statement
    print('PostgreSQL database version:')
    
    for command in commands:
        cur.execute(command)

    # display the PostgreSQL database server version
    cur.execute('SELECT version()')
    db_version = cur.fetchone()
    print(db_version)
    conn.commit()
       
	# close the communication with the PostgreSQL
    cur.close()
except (Exception, psycopg2.DatabaseError) as error:
    print(error)
finally:
    if conn is not None:
        conn.close()
        print('Database connection closed.')
        
# SELECT relname sequence_name FROM pg_class WHERE relkind = 'S';
# To list all sequences in database

Connecting to the PostgreSQL database...
PostgreSQL database version:
('PostgreSQL 15.1 (Debian 15.1-1.pgdg110+1) on x86_64-pc-linux-gnu, compiled by gcc (Debian 10.2.1-6) 10.2.1 20210110, 64-bit',)
Database connection closed.

# Insert sample datas

In [12]:
#!pip3 install faker

faker = Faker("en_IN")
faker.add_provider(faker_commerce.Provider)

employee = {'EmployeeId': random.sample([f"EM{f}" for f in range(20)],len(range(20))),
            'jobid':random.sample([f"JO{f}" for f in range(20)],len(range(20))),
            'Firstname': [faker.first_name() for f in range(20)],
        'lastname': [faker.last_name() for f in range(20)],
       'phoneno':[f'+91 {faker.msisdn()[3:]}' for f in range(20)],
       'address':[faker.address() for f in range(20)]}

product = {'productid': random.sample([f"PR{f}" for f in range(20)],len(range(20))),
           'supplierid':random.sample([f"SUP{f}" for f in range(20)],len(range(20))),
    'productname': [faker.ecommerce_name() for f in range(20)],
        'description': [faker.sentence() for f in range(20)],
       'stock':[faker.random_int(10,20) for f in range(20)],
       'price':[faker.random_int(100,500) for f in range(20)],
          'Category':[faker.ecommerce_category() for f in range(20)]}

supplier = {'supplierid':random.sample([f"SUP{f}" for f in range(20)],len(range(20))),
    'cmpname': [faker.company() for f in range(20)],
        'quantity': [faker.random_int(30,50) for f in range(20)],
       'phoneno':[f'+91 {faker.msisdn()[3:]}' for f in range(20)],
       'address':[faker.address() for f in range(20)]}

job ={'jobid':random.sample([f"JO{f}" for f in range(20)],len(range(20))),
    'job':[faker.job() for f in range(20)],
      'salary':[faker.pricetag() for f in range(20)]}

customer = {'cusid':random.sample([f"CUS{f}" for f in range(20)],len(range(20))),
    'Firstname': [faker.first_name() for f in range(20)],
        'lastname': [faker.last_name() for f in range(20)],
       'phoneno':[f'+91 {faker.msisdn()[3:]}' for f in range(20)],
       'address':[faker.address() for f in range(20)]}

discount = {'promotionid':random.sample([f"PROM{f}" for f in range(20)],len(range(20))),
            'productid': random.sample([f"PR{f}" for f in range(20)],len(range(20))),
    'startdate':[faker.date_between_dates(datetime.date(2023, 1, 1),datetime.date(2023, 2, 28)) for f in range(20)],
           'enddate':[faker.date_between_dates(faker.date_between_dates(datetime.date(2023, 1, 1),datetime.date(2023, 2, 28)),datetime.date(2023, 2, 28)) for f in range(20)]}

In [ ]:
conn = psycopg2.connect(
            host="43.204.150.58",
            database="testdb",
            user="admin",
            password="admin")
# create a cursor
cur = conn.cursor()
       
# execute a statement
print('PostgreSQL database version:')
#for index in range(20):
#    cur.execute(f"""INSERT INTO 
#            PRODUCT(Product_ID, Product_Name, Description, Stock, Price, Category, Supplier_ID )
#                VALUES
#            ('{product["productid"][index]}','{product["productname"][index]}','{product["description"][index]}','{product["stock"][index]}','{product["price"][index]}','{product["Category"][index]}','{product["supplierid"][index]}')""")
    
    
#for index in range(20):
#    cur.execute(f"""INSERT INTO 
#            SUPPLIER(Supplier_ID, Company_Name, Address, Phone_NO, Quantity)
#               VALUES
#            ('{supplier["supplierid"][index]}','{supplier["cmpname"][index]}','{supplier["address"][index]}','{supplier["phoneno"][index]}','{supplier["quantity"][index]}')""")
    

    #print("firstname:",data["Firstname"][j])


# display the PostgreSQL database server version
cur.execute('SELECT version()')
db_version = cur.fetchone()
print(db_version)
conn.commit()
#close the communication with the PostgreSQL
cur.close()

In [97]:
cur.execute(f"""INSERT INTO 
            PRODUCT(Product_ID, Product_Name, Description, Stock, Price, Category, Supplier_ID )
                VALUES
            (concat('em', nextval('check_emp_id')),'{data["Firstname"][j]}','{data["lastname"][j]}','{data["phoneno"][j]}','{data["address"][j]}')""")

{'jobid': ['JO8',
  'JO4',
  'JO10',
  'JO3',
  'JO6',
  'JO1',
  'JO13',
  'JO16',
  'JO19',
  'JO15',
  'JO2',
  'JO14',
  'JO7',
  'JO11',
  'JO18',
  'JO9',
  'JO17',
  'JO5',
  'JO12'],
 'job': ['Editorial assistant',
  'Nature conservation officer',
  'Tourist information centre manager',
  'Animal nutritionist',
  'Gaffer',
  'Engineer, technical sales',
  'Teacher, adult education',
  'Technical brewer',
  'Meteorologist',
  'Electrical engineer',
  'Investment banker, corporate',
  'Exhibitions officer, museum/gallery',
  'Environmental manager',
  'Industrial/product designer',
  'IT trainer',
  'Psychologist, counselling',
  'Field trials officer',
  'Warden/ranger',
  'Accommodation manager',
  'Health visitor'],
 'salary': ['$25.52',
  '$1.31',
  '$62,381.35',
  '$5,767.80',
  '$34,645.29',
  '$43.41',
  '$554.00',
  '$55,421.53',
  '$912.64',
  '$9,867.73',
  '$43.72',
  '$55.36',
  '$1,771.23',
  '$9,692.53',
  '$8.21',
  '$53,778.24',
  '$6,638.69',
  '$1,618.23',
  '$66,402.16',
  '$5.64']}